version: '3'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
    tty: true
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD

  db:
    image: postgres:12.0-alpine
    volumes:
      - pgsqldb:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD

  memcached:
    image: memcached:1.6.18-alpine

volumes:
  pgsqldb:
    driver: local
  bundle:
    driver: local
